.cardcontainer {
  margin-top: 25px;
  max-width: 60vw;
  min-width: 50vw;
  min-height: 50vh;
  border-radius: 8px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 30px 0px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
