.input-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box > input {
  text-align: center;
  width: 50%;
  font-size: 2rem;
  border: 0px;
  border-bottom: 1px solid rgb(190, 190, 190);
  outline: none;
  transition: all 0.3s;
}
.input-box > input:focus {
  width: 55%;
}

.input-box .post-button > button {
  border-radius: 3.5px;
  border: none;
  padding: 10px 17.5px;
  cursor: pointer;
  background-color: rgb(112, 94, 94);
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
}
.input-box .post-button > button:focus {
  outline: none;
}
.input-box > button:hover {
  transform: scale(1.05) translateY(-2px);
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
}
.input-box .post-button > button:active {
  transform: scale(1) translateY(1px);
}
.sd-container{
  position: relative;
  float: left;

}
.sd {
  border: 1px solid #6d6d6d;
  padding: 5px 10px;
  height: 30px;
  width: 150px;
}
.open-button{
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  height: 25px;
  background: #fff;
  pointer-events: none;
  
}
.open-button button {
  border: none;
  background: transparent;
}
.calendar-todo-item{
  top: 3px;
  right: 3px;
  height: 25px;
  background: #fff;
  pointer-events: none;
  display: flex;
}

.calendar-todo-item button {
  border: none;
  background: transparent;
}
