.sidebar{
    height: 100vh;
    width: 15%;
    background-color: #A07959;
    position: absolute;
    left: 0%;
    top: 0%;
}

.box {
    margin-top: 90px;
}
.box a{
    display: block;
    padding: 7px 32px 7px 32px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #E1D0B2;
    color:black;
    border: none;
    margin: 20px;
}

