.todos-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 4px;
    max-width: 100%;
    margin-top: 25px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-200px) rotate(-25deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) rotate(0deg);
    }
}

.todos-item>button {
    margin-left: 10px;
    background-color: #A52A2A;
    border-radius: 4px;
    border: none;
    padding: 10px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.todos-item>button:hover {
    background-color: #800000;
    color: white;
}

.todos-item>button:focus {
    outline: none;
}